# Production-specific settings
baseURL = "https://firestoned.io/"
[minify]
  disableCSS = false
  disableHTML = false
  disableJS = false
  disableJSON = false
  disableSVG = false
  disableXML = false
